<template name="lists">
  <h3>Todo Lists</h3>
  <div id="lists">
    {{#each lists}}
      {{> list_item}}
    {{/each}}
  </div>
  <div id="createList">
    <input type="text" id="new-list" placeholder="New list" />
  </div>
</template>

<template name="list_item">
  <div class="list {{selected}}">
    {{#if editing}}
      <div class="edit">
        <input class="list-name-input" id="list-name-input" type="text" value="{{name}}" />
        <div class="destroy"></div>
      </div>
    {{else}}
      <div class="display">
        <div class="list-name {{name_class}}">
          {{name}}
        </div>
      </div>
    {{/if}}
  </div>
</template>
